.question__item {
    display:none;
}
.question__item.active {
    display:block;
}

.question__image {
    width: 480px;
    max-width: 100%;
    height: 180px;
    position: relative;
    margin: auto;
    line-height: 180px;
    text-align:center;
    color:#cecece;
    text-shadow: -1px -1px 0px #fff;
}
.question__image img {
    width: 100%;
}
.question__noimage {
    background: #efefef;
}
.answers__block {
    margin: 20px 0 0 0;
}
.answer__item {
    display: block;
    padding: 10px;
    min-height: 66px;
}
.answer__item.selectedAnswer,
.answer__item.active {
    background:rgba(0,0,0,.1) !important;
}

.notAnswered .answer__item:hover {
    cursor: pointer;
    background:rgba(0,0,0,.1) !important;
}

.question__pagination-wrapper {
    overflow-x: hidden;
}
.question__pagination {
    width: 23%;
    display: block !important;
    float: left;
    padding: 0 !important;
    margin: 2px 1% !important;
}
.question__item.loading {
    opacity:0.5;
}

