body {
    background-color: #ededed;
}
.cl {
    clear:both;
}

.left {
    float: left;
}
.right {
    float: right;
}
.link {
    text-decoration: underline;
}
.link:hover {
    text-decoration: none;
}

#nprogress .bar {
    background: #efc420;
    background: -moz-linear-gradient(-45deg, #efc420 0%, #36c301 100%);
    background: -webkit-linear-gradient(-45deg, #efc420 0%,#36c301 100%);
    background: linear-gradient(135deg, #efc420 0%,#36c301 100%);
    height: 10px;
    box-shadow: 0;
}
#nprogress .bar .peg {
    box-shadow: 0 0 10px #36c301, 0 0 5px #36c301;
}
#nprogress .spinner-icon {
    border: solid 5px transparent;
    border-top-color:#efc420;
    border-left-color:#efc420;
    width: 38px;
    height: 38px;
}
#nprogress .spinner {
    position: fixed;
    top:50%;
    left:50%;
    margin: auto auto auto -19px;
}
#header {
    height: 110px;
    width: 100%;
    background: #efc420;
    background: -moz-linear-gradient(-45deg, #efc420 0%, #36c301 100%);
    background: -webkit-linear-gradient(-45deg, #efc420 0%,#36c301 100%);
    background: linear-gradient(135deg, #efc420 0%,#36c301 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc420', endColorstr='#36c301',GradientType=1 );
    position: relative;
}
#header .ui.container,
#header .ui.grid {
    position: relative;
    height: 100%;
}
#header__logo {
    float: left;
    margin: 10px 20px 20px 10px;
    z-index:10;
    position: relative;
}
#header__title {
    position: relative;
    float: left;
    z-index: 10;
    margin: 20px 0 0 0;
}
#header__title h2 {
    line-height: 30px;
    font-size: 30px;
    margin:0;
}
#header__title p {
    line-height: 14px;
    font-size: 14px;
    margin:0px;
}

#app, #app .column {
    min-height: 100%;
    height: 100%;
}

.column__left {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #1a2226;
}

.wrapper {
    position: relative;
    padding: 0 10px;
}
.column__right {
    width: calc(100% - 200px);
    margin-left: 200px;

}

.column__left,
.column__right {
    min-height: 100%;
    padding: 0 !important
}

.menu {
    padding: 10px;
    margin: 100px 0 0 0;
}

.menu ul {
    padding:0;
    margin:0;
    list-style: none;
}

.menu ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0;
}
.menu ul li .icon {
    color: #eee;
    opacity: 0.8;
}

.menu ul li span {

}

.menu ul li a {
    color:#eee;
    font-size: 15px;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.menu_user {
    border: none !important;
}

.menu .menu_back {
    border: none;
    margin-bottom: 20px;
    font-size: 23px;
}
.menu .menu_back span {
    font-size: 15px;
    opacity: 0.5;
}

.menu ul li.active {
    background: #ededed;
    margin: 0 -10px 0 -10px;
    padding: 0 0 0 10px;
}
.menu ul li.active .icon {
    color: #333;
}
.menu ul li.active a {
    color:#333;
}
#body {
    z-index:3;
    position:relative;
    padding: 20px 0;
}

.overlay {
    float: left;
    margin: 0em 3em 1em 0em;
}


.text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
}
.text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.ui.table {
    table-layout: fixed;
}

.paginate__item.button {
    text-align: center;
    border: none;
    width: 20%;
    padding: 0;
    margin: 0;
    height: 30px;
    line-height: 30px;
}
.paginate__item.label.active {
    box-shadow: 0px 0px 0px 2px #2185D0;
}
.hint__item {
    padding: 15px;
    color:#666;
    margin: 10px;
    background: #f5e79e;
}
.ticket__item.card .ticket__item-content {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
    height: 60px;
}
.ticket__item-header {
    line-height: 50px;
    color:#fff;
    font-size: 19px;
    text-align:left;
    z-index:12;
    position:relative;
    padding:0 7px;
}
.ticket__item.card .ticket__item-content::after {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.4);
    display:block;
    z-index:11;
}
.ticket__nav-restart.button{

}
.block {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
.block-group {
    position: relative;
    z-index:100;
    left:0 !important;
    top:0;
    transition: all 0.5s;
}
.block-group.fixed.top {
    position: fixed;
    top: -10px;
    left: inherit !important;
}
#errors__button {
    display:none;
}
.telegram__block {
    text-align: center;
}
.telegram__block img {
    width: 64px;
    height: 64px;
}
.auth__block {
    position: relative;
    min-height: 200px;
}
.auth__block img.loading {

}

.auth__block .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto auto auto -20px;
}

.auth__block dl {
    position: relative;
    clear:both;
}
.auth__block dt {
    float: left;
}
.auth__block dd {
    float: right;
    position:absolute;
    top:0;
    right:0;
}
.auth__block_menu {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border-top: 1px solid #eee;
    width: 100%;
}
.menu ul li .auth__block_menu li {
    list-style: none;
    padding: 5px 0 5px 0px;
}
.menu ul li .auth__block_menu li .icon {
    color: #999;
}
.menu ul li .auth__block_menu li:hover .icon {
    color: #666;
}

.auth__block #stat {
    height: 100%;
    width: 100%;
}
.ticket__item .bar {
    width: 100%;
    margin-top:10px;
    padding:0;
    background:#ccc;
    text-align:center;
    line-height:10px;
    position: absolute;
    top: 50px;
    z-index:14;
    left:0;
    transition: all 0.2s ease;
    height: 0;
    overflow:hidden;
}

.auth__block .bar {
    position: relative;
    margin: 5px auto;
    width: 90%;
    height: 10px;
    border-radius: 5px;
    overflow:hidden;
    background: #ccc;
    clear:both;
}
.auth__block-userdata_image {
    border: none;
    border-radius: 100%;
    margin: 0 auto;
    display:block;

}
.auth__block-userdata {
    font-size: 14px;
    text-align: center;
    color:#333;
    display:block;
}
.auth__block-userdata span {
    color:#333;
}
.auth__block-userdata:hover .auth__block-userdata_image {
    opacity: 0.7;
}

.ticket__item .bar__text {
    color:#fff;
    font-size: 6px;
}
.ticket__item .bar__level,
.auth__block .bar__level {
    height: 10px;
    color:#fff;
    font-size: 9px;
    float: left;
    transition: all 0.2s ease;
}

.ticket__item .bar__level-wrong,
.auth__block .bar__level-wrong {
    background-color: #d01919;

}
.ticket__item .bar__level-right,
.auth__block .bar__level-right {
    z-index: 2;
    background-color: #21BA45;
}
.ticket__item .bar.visible {
    height: 10px;
    margin-top:0;
}

.ticket__item .bar.inprogress {
    height: 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
    background-color: #ccc;
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .35) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .35) 50%, rgba(255, 255, 255, .35) 75%, transparent 75%, transparent);
    animation: animate-stripes 3s linear infinite;
}

.ticket__item-content .buttons{
    position: absolute;
    top:6px;
    right: 6px;
    z-index:20;
}
.pseudo span{
    border-bottom: 1px dashed #000;
}
.pseudo:hover span {
    border: none;
}
@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
@media all and (max-width: 992px) {

    .auth__block dt {
        font-size: 12px;
    }
}
@media all and (max-width: 768px) {

    .question__pagination {
        width: 48% !important;
    }

    #header {
        height: 50px;
        width: 100%;
        background: #efc420;
        background: -moz-linear-gradient(-45deg, #efc420 0%, #36c301 100%);
        background: -webkit-linear-gradient(-45deg, #efc420 0%,#36c301 100%);
        background: linear-gradient(135deg, #efc420 0%,#36c301 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc420', endColorstr='#36c301',GradientType=1 );
        top:0;
        margin:0;
        padding:0;
        position:relative;
    }
    #header::after {
        position:absolute;
        content:'';
        left:0;
        top:0;
        width: 100%;
        height: 50px;
    }

    #header__logo {
        float: left;
        margin: 10px 20px 20px 10px;
        z-index:10;
        position: relative;
    }

    #header__title {
        position: relative;
        float: left;
        z-index: 10;
        margin: 20px 0 0 0;
        display:none;

    }
    #header__title h2 {
        line-height: 30px;
        font-size: 20px;
        margin:0;
        display:none;
    }
    #header__title p {
        line-height: 14px;
        font-size: 14px;
        margin:0px;
    }


    .question__timer {
        top: -20px;
    }


    h2 {
        font-size: 16px;
    }
    .question__navigation-wrapper {
        width:0 !important;
        padding:0 !important;
    }
    .question__navigation-wrapper .ui.button {
        border-radius: 0 !important;
    }
    .question__label-wrapper {
        width: 100% !important;
        text-align:center;
    }
    .question__navigation {
        position: fixed;
        bottom:0;
        z-index:101;
        width: calc(100% - 75px);
        margin-left: 74px;
        right: 0;
    }

    .question__image {
        line-height: inherit;
        height: auto;
    }
    .question__noimage {
        padding: 20px 0;
    }

    .pseudo span {
        border-color:#f0f0ee;
    }


    .column__left {
        width: 74px;
    }

    .column__right {
        width: calc(100% - 74px);
        margin-left: 74px;
    }

    .column__left .menu {
        padding: 0;
    }
    .column__left .menu li a {
        line-height: 40px;
        height: 40px;
    }
    .column__left .menu li {
        text-align: center;
    }
    .column__left .menu li .icon {
        font-size: 24px;

    }
    .column__left .menu li span  {
        display: none;
    }

    .column__left .menu li.active {
        padding: 9px 0 9px 0;
    }

    .column__left .auth__block {
        background: transparent;
        padding:0;
        margin:0;
        min-height: auto;
    }

    .column__left .auth__block dl {
        display: none;
    }
    .column__left .auth__block-userdata_image {
        width: 96%;
        margin: 0 2%;
    }

    .column__left .auth__block_menu {
        position: relative;
        border: none;
        width: 100%;
    }

    .column__left .auth__block_menu li {
        clear: both;
        width: 100%;
    }

    .column__left .menu_user {
        position: absolute;
        bottom: 0;
        left:0;
    }

}

@media all and (max-width: 340px) {
    .column__left {
        width: 54px;
    }

    .column__right {
        width: calc(100% - 54px);
        margin-left: 54px;
    }

    .column__left .menu li a {
        height: 34px;
        line-height: 34px;
    }
    .column__left .menu li {
        text-align: center;
    }
    .column__left .menu li .icon {
        font-size: 23px;
    }
    .column__left .menu li span  {
        display: none;
    }

    .question__navigation {
        position: fixed;
        bottom:0;
        z-index:101;
        width: calc(100% - 54px);
        margin-left: 55px;
        right: 0;
    }
}