.answer__item-active {
    background: #f5e79e;
}
.answer__item {
    padding:10px 10px 15px 10px;
}
.answer__item textarea {
    max-height: 100px;
}
.answer__item-placeholder {
    opacity:.5;
    padding:10px 10px 15px 10px;
    min-height: 100px;
    width: 100%;
    position: relative;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

.answer__item-placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}
.item.sign__item-mce:hover,
.item.sign__item-mce:focus {
    outline: 2px solid #ccc !important;
}


#searchAutocompleteBlock .ui.selection.dropdown  {
    height: 16px !important;
    min-height:16px;

}
.statChart {
    height: 500px !important;
    width: 100% !important;
}