.modal__logo {
    margin: 20px auto;
    width: 200px;
    border: 2px solid #ccc;
    height: 76px;
}
.modal__select_role {
    background: rgba(0,0,0,0.7);
    padding:20px 5%;
    margin:0;
    position: absolute;
    bottom: 20px;
    list-style-type: none;
    width: 90%;
}
.modal__select_role li {
    padding: 5px 10px;
    line-height: 30px;

    border-bottom:0;
    border-left: 5px solid #ccc;
    cursor: pointer;
    color: #ccc;
    font-size: 14px;
    transition: all 0.2s;
}
.modal__select_role li:hover {
    background: rgba(255, 255, 255, 0.3);
}
.modal__select_role li:last-child {


}
.modal__select_role li.selected {
    border-left: 5px solid #36c301;
    color: #fff;
    font-size: 16px;
}
.modal__select_role li input {
    display: none;
}
.modal__select_role label{
}

.auth__background {
    background-image: url('/images/modal/register.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.roled {
    display:none;
}