.modal__window {
    background: #fff;
}
.modal__content {
    padding: 20px 0;
}

.modal__dialog {
    margin-left: -60%;
    width: 60%;
    background: #fff;
    z-index: 9999;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
    height: 100%;
    min-height: 100%;
}

.modal__opened .modal__dialog {
    margin-left: 0px;
    transition: all 0.5s;
}

@media all and (max-width: 768px) {



}

@media all and (max-width: 340px) {

    .modal__dialog {
        margin-left: -90%;
        width: 90%;
    }

}