#tinymce .placeholder-block {
    border: 1px dotted #cccccc;
}
#tinymce .placeholder-block:hover {
    border-style:solid;
    cursor: pointer;
}
.placeholder-block,
.mce-container-body .placeholder-block {
    max-width: 100px;
    text-align: center;
    padding: 10px;
    display: inline-block !important;
}

.placeholder-block img,
.mce-container-body .placeholder-block img {
    margin: auto;
    max-width: 100%;
    clear:both;
    display:block;
}

.placeholder-block p.caption,
.mce-container-body .placeholder-block p.caption {
    font-size: 12px;
    clear:both;
}
.mce-container-body .placeholder-block p.caption {
    overflow:hidden;
}
.placeholder-block_small,
.mce-container-body .placeholder-block_small {
    max-height: 50px;
    max-width: 50px !important;
    width: 50px;
}
.placeholder-inline,
.mce-container-body .placeholder-inline {
    display: inline !important;
    max-width: none;
    max-height: none;
}
.placeholder-block_small img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

}
.placeholder-block_small .caption {
    display:none;
}
.mce-container-body {
    overflow:visible !important;
}

.focus__block {
    background: #f5e79e;
}