.question__item {
    display:none;
}
.question__item.active {
    display:block;
}

.question__image {
    width: 480px;
    max-width: 100%;
    height: 180px;
    position: relative;
    margin: auto;
    line-height: 180px;
    text-align:center;
    color:#cecece;
    text-shadow: -1px -1px 0px #fff;
}
.question__image img {
    width: 100%;
}
.question__noimage {
    background: #efefef;
}
.answer__item.selectedAnswer {
    background:rgba(0,0,0,.1) !important;
}

.question__pagination-wrapper {
    overflow-x: hidden;
}
